<!DOCTYPE html>
<html>
<head>
    <title>About - Cellular Systems Learning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('Cellular_Generations') }}">Cellular Generations</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <h1>Discover the Evolution of Cellular Systems</h1>
        <p>Uncover the technological advancements that shaped the way we communicate and connect.</p>
        <p>Cellular Systems Learning provides an immersive experience to explore the different generations of cellular networks, from the pioneering 1G to the cutting-edge 5G and beyond.</p>
        <p>Immerse yourself in the rich history, key features, and transformative impact of each generation. Gain insights into how these systems have revolutionized mobile communication, enabling seamless connections, and empowering countless possibilities.</p>
        <p>Embark on a journey through time and technology, and deepen your understanding of cellular systems.</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
